In [51]:
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import requests

In [52]:
executable_path = {'executable_path':'chromedriver.exe'}
browser = Browser('chrome',**executable_path, headless=False)

In [53]:
url_to_scrape = "https://redplanetscience.com/"
response = browser.visit(url_to_scrape)
html = browser.html
soup = bs(html,'html.parser')
news_items = soup.find_all('div', class_='list_text')

title = []
paragraph = []

for news in news_items:
    
    news_title = news.find('div', class_='content_title').text
    news_p = news.find('div', class_='article_teaser_body').text

In [54]:

print(news_title)
print(news_p)

Mars 2020 Stands on Its Own Six Wheels
In time-lapse video, taken at JPL, captures the first time NASA's Mars 2020 rover carries its full weight on its legs and wheels.

In [55]:
url = "https://spaceimages-mars.com/"
response = browser.visit(url)
html = browser.html
soup = bs(html,'html.parser')
featured_image_url = soup.find_all('img', class_='headerimage fade-in')[0]["src"]

print(featured_image_url)

image/featured/mars2.jpg

In [56]:
url = "https://galaxyfacts-mars.com/"

tables = pd.read_html(url)

tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [57]:
df2 = tables[1]

In [58]:
df2.columns = ["Mars", "Value"]

In [59]:
df2

                   Mars                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [60]:
mars_html_table = df2.to_html()
clean_table = mars_html_table.replace('\n', '')
print(mars_html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [61]:
url = 'https://marshemispheres.com/'
browser.visit(url)
html = browser.html
soup = bs(html, 'html.parser')

In [62]:

hemispheres = soup.find_all('div', class_='item')

hemisphere_image_urls = []

for hemisphere in hemispheres:

    hemisphere = hemisphere.find('div', class_="description")
    title = hemisphere.h3.text
    #print(title)
    link = hemisphere.a["href"]    
    browser.visit(url + link)
    html = browser.html
    soup = bs(html, 'html.parser')
    image_link = soup.find('div', class_='downloads')
    image_url = image_link.find('li').a["href"]
    image_dict = {}
    image_dict['title'] = title
    image_dict['img_url'] = image_url
    hemisphere_image_urls.append(image_dict)
    #print(hemisphere_image_urls)

    hemisphere_images = hemisphere_image_urls[0:4]

print(hemisphere_images)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'images/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'images/schiaparelli_enhanced-full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'images/syrtis_major_enhanced-full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'images/valles_marineris_enhanced-full.jpg'}]

In [63]:
mars_dict = {
        "news_title": news_title,
        "news_p": news_p,
        "featured_image_url": featured_image_url,
        "table": str(mars_html_table),
        "hemisphere_images": hemisphere_images
    }